body {
    padding-top: 70px;
}
.zero-margin {
  margin: 0px;
}
.zero-padding {
  padding: 0px;
}
#footer {
    border-top: 3px solid #d3d3d3;
    margin-top: 10px;
    padding-top: 10px;
    background: #f3f3f3;
    min-height: 100px;
}
.connect-us-logo {
    padding: 2px;
}
.connect-us-fb {
    color: #3b5998;
}
/* index.html */
.big-name {
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}
.announcements {
  width: 60%;
  padding: 5px 2px;
}
/* events.html */
.events-container {
  margin: 0px 10%;
}
.first-event-pill {
  padding: 2px 2px;
}
.event-pill {
  padding: 2px 1px;
}
/* event page */
.event-details-tab-container {
  margin: 20px 10%;
}
.date-time-venue-table {
  width: 50%;
  margin: auto;
}
.date-time-venue-table-left {
  width: 40%;
  text-align: center;
}
.date-time-venue-table-right {
  width: 60%;
  text-align: left;
}
.event-updates-container {
  width: 90%;
  padding: 10px 0px;
}
/* publications and merchandize */
.perpetual-motion-title {
  vertical-align: middle;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.publications-row, .merchandize-row {
  padding: 10px 0px;
}
.publications-pill, .merchandize-pill {
  padding: 5px;
}

/* committee */
.committee-list {
  width: 200px;
}
.committee-height-control {
  height: 500px;
  overflow: hidden;
}
.view-message-button-row {
  padding: 10px;
}