extends layout.jade

block content
  .container-fluid
    h4 MAE Club Management Committee
    form.committee-list
      .form-group
        select.form-control
          option 34th Management Team
          option 33rd Management Team
          option 32nd Management Team
  .container-fluid
    .col-md-1
    .col-md-10
      .col-sm-12.col-md-12
        h3 President
        .col-sm-4.col-md-3
          img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        .col-sm-8.col-md-9
          h5 President's Message
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium orci nec libero accumsan, nec gravida nisi viverra. Cras porttitor non felis et fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pretium molestie nibh vestibulum lacinia. Phasellus id nibh eu orci mollis porta. Integer tempor eros elit, eu sagittis magna efficitur a.
      .col-sm-12.col-md-6
        h3 Vice President
        .col-sm-4.col-md-4
          img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        .col-sm-8.col-md-8
          h6 Vice President's Message
          p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium orci nec libero accumsan, nec gravida nisi viverra. Cras porttitor non felis et fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pretium molestie nibh vestibulum lacinia. Phasellus id nibh eu orci mollis porta. Integer tempor eros elit, eu sagittis magna efficitur a.
      .col-sm-12.col-md-6
        h3 Vice President
        .col-sm-4.col-md-4
          img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        .col-sm-8.col-md-8
          h6 Vice President's Message
          p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium orci nec libero accumsan, nec gravida nisi viverra. Cras porttitor non felis et fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pretium molestie nibh vestibulum lacinia. Phasellus id nibh eu orci mollis porta. Integer tempor eros elit, eu sagittis magna efficitur a.
      .col-sm-6.col-md-4.committee-height-control
        h3 Honorary General Secretary
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-md-4.committee-height-control
        h3 Human Resource Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-md-4.committee-height-control
        h3 Financial Controller
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-md-4.committee-height-control
        h3 Events Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-md-4.committee-height-control
        h3 Events Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-md-4.committee-height-control
        h3 Events Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-md-3.committee-height-control
        h3 Business Manager
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-md-3.committee-height-control
        h3 Business Manager
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-md-3.committee-height-control
        h3 Student Affairs Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-md-3.committee-height-control
        h3 Student Affairs Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-md-3.committee-height-control
        h3 Sports Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-sm-6.col-md-3.committee-height-control
        h3 Sports Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-md-3.committee-height-control
        h3 Logistics Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-md-3.committee-height-control
        h3 Logistics Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-md-2
      .col-sm-6.col-md-4.committee-height-control
        h3 Orientation Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-6.col-md-4.committee-height-control
        h3 Orientation Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-md-2
      .col-sm-4.col-md-4.committee-height-control
        h3 Publicity and Publications Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-4.col-md-4.committee-height-control
        h3 Publicity and Publications Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
      .col-sm-4.col-md-4.committee-height-control
        h3 Publicity and Publications Officer
        img.img-rounded.img-responsive.center-block(src="http://placehold.it/200x283")
        h5.text-center Name
        .row.zero-margin.zero-padding.view-message-button-row
          button.btn.btn-primary.center-block View Message
    .col-md-1