extends layout.jade

block content
  .container-fluid
    h4.text-center Any enquiries? Drop us your message here!
    iframe.center-block(src='https://docs.google.com/forms/d/1aHRztyJWb6tBtVb9Z4zYMRX4FrsLBJKFdPBwzNWVsbk/viewform?embedded=true', width='760', height='500', frameborder='0', marginheight='0', marginwidth='0') Loading...