extends layout.jade

block title
  title Home | MAE Club

block link
  //link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Slab', rel='stylesheet', type='text/css')

block content
  .container-fluid
    .col-md-2
    .col-md-3
      .row
        img.img-responsive.center-block(src="http://placehold.it/500x200")
      .row
        .text-right.big-name Mechanical and<br>Aerospace<br>Engineering Club
    .col-md-5
      p.text-justify
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium orci nec libero accumsan, nec gravida nisi viverra. Cras porttitor non felis et fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pretium molestie nibh vestibulum lacinia. Phasellus id nibh eu orci mollis porta. Integer tempor eros elit, eu sagittis magna efficitur a. Suspendisse at lobortis libero. Maecenas sed orci fermentum, finibus enim sit amet, aliquam ipsum. Maecenas efficitur gravida lorem in tempus. Vivamus mattis, velit ac mattis ultrices, nunc magna placerat magna, vel laoreet arcu quam faucibus nisl. 
      button.btn.btn-primary(onclick="location.href = 'committee.html'") See current committee >>>
    .col-md-2

  .container-fluid
    h2.text-center Current Events
    .col-md-2
    .col-md-2
      img.img-rounded.img-responsive(src="http://placehold.it/300x200")
      h5.text-center Event name
    .col-md-2
      img.img-rounded.img-responsive(src="http://placehold.it/300x200")
      h5.text-center Event name
    .col-md-2
      img.img-rounded.img-responsive(src="http://placehold.it/300x200")
      h5.text-center Event name
    .col-md-2
      img.img-rounded.img-responsive(src="http://placehold.it/300x200")
      h5.text-center Event name
    .col-md-2

  .container-fluid
    h2.text-center Latest News
    .col-md-2
    .col-md-8
      .row.announcements
        .col-md-3
          img.img-rounded.img-responsive.center-block(src="http://placehold.it/100x100")
        .col-md-9
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor turpis, vestibulum vitae sodales in, vulputate non dolor. Curabitur sit amet mauris tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      .row.announcements
        .col-md-3
          img.img-rounded.img-responsive.center-block(src="http://placehold.it/100x100")
        .col-md-9
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor turpis, vestibulum vitae sodales in, vulputate non dolor. Curabitur sit amet mauris tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      .row.announcements
        .col-md-3
          img.img-rounded.img-responsive.center-block(src="http://placehold.it/100x100")
        .col-md-9
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor turpis, vestibulum vitae sodales in, vulputate non dolor. Curabitur sit amet mauris tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    .col-md-2