extends layout.jade

block content
  .container-fluid
    .col-md-1
    .col-md-10
      .row.zero-margin.zero-padding
        h3.text-center Thank you all sponsors for supporting us!
        img.img-responsive.center-block(src="http://placehold.it/1280x720")
      .row.zero-margin.zero-padding
        h5.text-center We are seeking more collaborations as well.<br>Kindly drop us your message <a href="contactus.html">here</a> if you are interested in our partnerships!<br>We would get back to you soon!
    .col-md-1