extends layout.jade

block content
  .container-fluid
    .col-md-1
    .col-md-10
      .row.publications-row
        .col-xs-12.col-sm-4.col-md-3
          img.img-responsive.center-block(src="img/perpetual_motion.jpg")
        .col-xs-12.col-sm-4.col-md-3.publications-pill
          a(href="perpetual_motion.html")
            img.img-responsive.center-block(src="http://placehold.it/200x283")
        .col-xs-12.col-sm-4.col-md-3.publications-pill
          a(href="perpetual_motion.html")
            img.img-responsive.center-block(src="http://placehold.it/200x283")
        .col-xs-12.col-sm-4.col-md-3.publications-pill
          a(href="perpetual_motion.html")
            img.img-responsive.center-block(src="http://placehold.it/200x283")
        .col-xs-12.col-sm-4.col-md-3.publications-pill
          a(href="perpetual_motion.html")
            img.img-responsive.center-block(src="http://placehold.it/200x283")
        .col-xs-12.col-sm-4.col-md-3.publications-pill
          a(href="perpetual_motion.html")
            img.img-responsive.center-block(src="http://placehold.it/200x283")
      .row.merchandize-row
        .col-xs-12.col-sm-4.col-md-3
          img.img-responsive.center-block(src="img/merchandize.jpg")
        .col-xs-12.col-sm-4.col-md-3.merchandize-pill
          a(href="merchandize.html")
            img.img-responsive.center-block(src="http://placehold.it/200x283")

    .col-md-1